$max_width: 100%;
$half_width: 50%;
$max_cols: 18;
$single_col: $max_width / $max_cols;

$mobile_break: 480px;
$tablet_break: 768px;

body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* For creating responsive grid */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  content: "";
  clear: both;
  display: block;
  overflow: auto;
  margin: auto auto;
}

[class*='col-'] {
  float: left;
}

@for $i from 1 through $max_cols {
  .col-#{$i} {
    width: $single_col * $i;
  }
  
  .offset-#{$i} {
    margin-left: $single_col * $i;
  }
}

/* Break points */
@media screen and (max-width: $tablet-break) {
  #nav_right {
    display: none;
  }

  #nav_left {
    width: calc(100% - 90px) !important;
  }
}

@media screen and (max-width: $mobile-break) {
  #nav-right {
    display: none;
  }

  #nav_left {
    display: none;

    li {
      display: block;
      padding: 0.6rem 0!important;
    }
  }

  .nav_icon {
    height: 48px!important;
  }

  nav {
    &:hover > #nav_left {
      display: block;
    }
  }

  .mobile_nav_icon {
    display: block!important;
    float: right;
    height: 26px;
    margin: 20px;

    
  }
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

h1 {
  font-weight: 400;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

a {
  color: #ff17e1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}

.purple {
  color: #ff17e1;
}

.center {
  text-align: center;
}

.underline {
  border-bottom: 8px solid #ff17e1;
}

.serif {
  font-family: 'Lora', serif;
}

nav {
  overflow: auto;
  background-color: #4f4f4f;
  position: relative;

  .mobile_nav_icon {
    display: none;
  }

  .nav_icon {
    position: absolute;
    z-index: 2;
    height: 64px;
    bottom: 10px;
    left: 30px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  #nav_left {
    width: calc(70% - 90px);
    float: left;
    font-size: 1.3rem;
    margin-left: 90px;

    li {
      padding: 1.2rem 0;
      margin: 0 1rem;
    }

    a {
      color: #ffffff;
      font-variant: small-caps;
      text-decoration: none;
    }
  }

  #nav_right {
    list-style: none;
    float: right;
    width: 30%;
    text-align: right;
    padding: 1.2rem 0;
    
    li {
      display: inline;
    }
  
    img {
      height: 32px;
      padding: 0 20px;
    }
  } 
}

.flex_container {
  display: flex;
}

footer {
  background-color: #282828;
  color: #ffffff;
  text-align: center;
  padding: 5vh;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  h6 {
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
    
  }
}


/* Home */

.home_nav {
  background-color: #ffffff;
}

main#home {
  margin: 0;
  background-image: url(../imgs/bg.png);
  background-size: cover;  
  height: 75vh;
  width: 100vw;
  color: #fff;

  .text_overlay {
    padding-top: 30vh;
    padding-left: 10vw;
    margin: 0;

    h1 {
      margin: 2rem 0;
      padding: 0;
      font-weight: 200;
      font-style: italic;
    }
  }
}

nav#nav_bottom {
  list-style: none;
  text-align: center;
  background: none;

  li {
    display: inline-block;
    border-bottom: 1px solid #ff17e1; 
    padding: 20px 0;
    margin: 0 4rem;

    a {
      text-decoration: none;
      color: #424242;
      font-size: 1.3rem;
    }
  }
}

/* About page */

main {
  margin: 4vh 10vw;
}

#about {
  p {
    overflow: auto;

    img {
      float: left;
      margin: 0 1.4rem;
    }
  }

  #skills {
    align-items: baseline;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    .box {
      margin: 0 3rem 3rem 3rem;

      img {
        width: 100px;
        height: auto;
        margin: 0 auto 2rem auto;
        display: block;
      }
    }
  }
}

.avatar {
  height: 30vh;
  max-height: 250px;
}

/* Contact page */

#form_contact {

  >* {
    display: block;
    width: 30%;
    margin: 10px auto;
  }

  label {
    font-size: 0.9em;
    font-weight: bold;
  }
  
  input, textarea {
    padding: 0.4rem 0.2rem;
  }

  textarea {
    height: 300px;
    resize: vertical;
  }
}

input[type="submit"] {
  width: 120px;
  border: none;
  background-color: #282828;
  color: #ffffff;
  border-radius: none;
  padding: 0.7rem 0;
  cursor: pointer;

  &:hover {
    background-color: #424242;
  }
}

.socialmedia_links_big {
  ul {
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      display: inline-block;
      padding: 2rem 2rem;

      img {
        height: 40px;
      }
    }
  }
}

/* Blog page */

.card_blogpost {
  width: 300px;
  padding: 0 20px;

  .card_blogpost_top {
    position: relative;

    .card_blogpost_image {
      width: 100%;
      overflow: hidden;
      

      img {
        opacity: 0.3;
        width: auto;
        height: 300px;
      }
    }

    .card_blogpost_title {
      position: absolute;
      top: 20px;
      margin: 0 20px;
      font-size: 1.3rem;
    }
  }
}

/* Blog post */

main.blogpost {
  overflow: auto;
  margin: 0;

  section {
    padding: 50px 10%;
    float: left;
    width: 70%;
    font-family: 'Lora', serif;

    h1, h2 {
      text-align: center;
    }

    h1 {
      font-size: 2.4rem;
      margin-bottom: 0.6rem;
    }

    h2 {
      font-weight: 300;
      font-size: 1.4rem;
      margin-top: 0;
    }

    p {
      line-height: 1.6rem;
    }

    img {
      width: 100%;
    }

    .source {
      display: block;
      text-align: center;
      font-style: italic;
    }

    .bold {
      font-weight: bold;
    }

    .blogpost_info {
      text-align: right;
      font-style: italic;
      font-weight: bold;
      margin-top: 4rem;
    }
    
  }
  
  aside {
    float: right;
    width: 30%;
    background-color: #c1c1c1;
    padding-bottom: 15vh;

    h4 {
      border-left: 8px solid #ff17e1;
      display: block;
      width: 60%;
      margin: 2rem auto;
    }

    .commentbox {
      background-color: #ffffff;
      width: 60%;
      padding: 1rem;
      margin: 0 auto;
      overflow: auto;

      textarea {
        width: 100%;
        border: none;
        height: 100px;
        resize: none;
      }

      input {
        display: block;
        float: right;

      }
    }

    .comments {

      .comment_container {
        margin: 2rem auto;
        width: 60%;
        background-color: #ffffff;
        padding: 1rem;

        .comment_top {
          overflow: auto;

          .comment_top_author {
            float: left;
            text-transform: uppercase;
            font-weight: bold;
          }

          .comment_top_time {
            float: right;
            font-style: italic;
          }
        }
      }

      .comment_content {
        padding: 0.4rem;
      }
    }
  }
}

/* projects page */

.project {
  img {
    width: 60%;
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .project_info {

    .project_desc {
      display: none;
    }
  }

  h2 {
    text-align: left;
    
  }

  &.collapsed {
    background-color: #E1E1E1;

    h2 {
      margin-top: 14%;
    }
  }

  &.collapsed:last-child {
    background-color: #EBEBEB;
  }

  &.selected {
    img {
      width: 100%;
    }

    .project_info {
      padding: 0 50px;
      
      .project_desc {
        display: block;
      }
    }
  }
}

