body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

/* For creating responsive grid */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  content: "";
  clear: both;
  display: block;
  overflow: auto;
  margin: auto auto; }

[class*='col-'] {
  float: left;
  height: 100px;
  border: 2px solid #ffffff; }

.col-1 {
  width: 5.55556%; }

.offset-1 {
  margin-left: 5.55556%; }

.col-2 {
  width: 11.11111%; }

.offset-2 {
  margin-left: 11.11111%; }

.col-3 {
  width: 16.66667%; }

.offset-3 {
  margin-left: 16.66667%; }

.col-4 {
  width: 22.22222%; }

.offset-4 {
  margin-left: 22.22222%; }

.col-5 {
  width: 27.77778%; }

.offset-5 {
  margin-left: 27.77778%; }

.col-6 {
  width: 33.33333%; }

.offset-6 {
  margin-left: 33.33333%; }

.col-7 {
  width: 38.88889%; }

.offset-7 {
  margin-left: 38.88889%; }

.col-8 {
  width: 44.44444%; }

.offset-8 {
  margin-left: 44.44444%; }

.col-9 {
  width: 50%; }

.offset-9 {
  margin-left: 50%; }

.col-10 {
  width: 55.55556%; }

.offset-10 {
  margin-left: 55.55556%; }

.col-11 {
  width: 61.11111%; }

.offset-11 {
  margin-left: 61.11111%; }

.col-12 {
  width: 66.66667%; }

.offset-12 {
  margin-left: 66.66667%; }

.col-13 {
  width: 72.22222%; }

.offset-13 {
  margin-left: 72.22222%; }

.col-14 {
  width: 77.77778%; }

.offset-14 {
  margin-left: 77.77778%; }

.col-15 {
  width: 83.33333%; }

.offset-15 {
  margin-left: 83.33333%; }

.col-16 {
  width: 88.88889%; }

.offset-16 {
  margin-left: 88.88889%; }

.col-17 {
  width: 94.44444%; }

.offset-17 {
  margin-left: 94.44444%; }

.col-18 {
  width: 100%; }

.offset-18 {
  margin-left: 100%; }

/* Break points */
p {
  font-size: 1rem;
  line-height: 2rem; }

h1 {
  font-weight: 400;
  margin-bottom: 2.5rem; }

h2 {
  text-align: center; }

.purple {
  color: #ff17e1; }

.underline {
  border-bottom: 8px solid #ff17e1; }

.serif {
  font-family: 'Lora', serif; }

nav {
  overflow: auto;
  background-color: #4f4f4f; }
  nav ul {
    list-style: none;
    padding: 0; }
    nav ul li {
      display: inline-block; }
  nav #nav_left {
    width: 50%;
    float: left;
    font-size: 1.3rem; }
    nav #nav_left li {
      padding: 1.2rem 0;
      margin: 0 1rem; }
    nav #nav_left a {
      color: #ffffff;
      font-variant: small-caps;
      text-decoration: none; }
  nav #nav_right {
    list-style: none;
    float: right;
    width: 50%;
    text-align: right; }
    nav #nav_right li {
      display: inline; }
    nav #nav_right img {
      height: 32px;
      padding: 0 20px; }

.flex_container {
  display: flex; }

footer {
  background-color: #282828;
  color: #ffffff;
  text-align: center;
  padding: 5vh; }
  footer ul {
    list-style: none;
    padding: 0; }
    footer ul li {
      display: inline-block; }
  footer h6 {
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif; }

/* Home */
.home_nav {
  background-color: #ffffff; }

main#home {
  margin: 0;
  background-image: url(../imgs/bg.png);
  background-size: cover;
  height: 80vh;
  width: 100vw;
  color: #fff; }
  main#home .text_overlay {
    padding-top: 30vh;
    padding-left: 10vw;
    margin: 0; }
    main#home .text_overlay h1 {
      margin: 2rem 0;
      padding: 0;
      font-weight: 200;
      font-style: italic; }

nav#nav_bottom {
  list-style: none;
  text-align: center; }
  nav#nav_bottom li {
    display: inline-block;
    border-bottom: 1px solid #ff17e1;
    padding: 20px 0;
    margin: 0 4rem; }
    nav#nav_bottom li a {
      text-decoration: none;
      padding: 50px 0;
      color: #424242;
      font-size: 1.3rem; }

/* About page */
main {
  margin: 4vh 10vw; }

#about p {
  overflow: auto; }
  #about p img {
    float: left;
    margin: 0 1.4rem; }
#about #skills {
  align-items: baseline;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap; }
  #about #skills .box {
    margin: 0 3rem 3rem 3rem; }
    #about #skills .box img {
      width: 100px;
      height: auto;
      margin: 0 auto 2rem auto;
      display: block; }

.avatar {
  height: 30vh;
  max-height: 250px; }

/*# sourceMappingURL=style.css.map */
