body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

/* For creating responsive grid */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  content: "";
  clear: both;
  display: block;
  overflow: auto;
  margin: auto auto; }

[class*='col-'] {
  float: left; }

.col-1 {
  width: 5.55556%; }

.offset-1 {
  margin-left: 5.55556%; }

.col-2 {
  width: 11.11111%; }

.offset-2 {
  margin-left: 11.11111%; }

.col-3 {
  width: 16.66667%; }

.offset-3 {
  margin-left: 16.66667%; }

.col-4 {
  width: 22.22222%; }

.offset-4 {
  margin-left: 22.22222%; }

.col-5 {
  width: 27.77778%; }

.offset-5 {
  margin-left: 27.77778%; }

.col-6 {
  width: 33.33333%; }

.offset-6 {
  margin-left: 33.33333%; }

.col-7 {
  width: 38.88889%; }

.offset-7 {
  margin-left: 38.88889%; }

.col-8 {
  width: 44.44444%; }

.offset-8 {
  margin-left: 44.44444%; }

.col-9 {
  width: 50%; }

.offset-9 {
  margin-left: 50%; }

.col-10 {
  width: 55.55556%; }

.offset-10 {
  margin-left: 55.55556%; }

.col-11 {
  width: 61.11111%; }

.offset-11 {
  margin-left: 61.11111%; }

.col-12 {
  width: 66.66667%; }

.offset-12 {
  margin-left: 66.66667%; }

.col-13 {
  width: 72.22222%; }

.offset-13 {
  margin-left: 72.22222%; }

.col-14 {
  width: 77.77778%; }

.offset-14 {
  margin-left: 77.77778%; }

.col-15 {
  width: 83.33333%; }

.offset-15 {
  margin-left: 83.33333%; }

.col-16 {
  width: 88.88889%; }

.offset-16 {
  margin-left: 88.88889%; }

.col-17 {
  width: 94.44444%; }

.offset-17 {
  margin-left: 94.44444%; }

.col-18 {
  width: 100%; }

.offset-18 {
  margin-left: 100%; }

/* Break points */
@media screen and (max-width: 768px) {
  #nav_right {
    display: none; }

  #nav_left {
    width: calc(100% - 90px) !important; }

  .blogpost section {
    float: none !important;
    width: 100% !important;
    word-break: break-all; }
  .blogpost aside {
    padding-top: 2rem;
    float: none !important;
    width: 100% !important; }

  #form_contact > * {
    width: 60% !important; } }
@media screen and (max-width: 480px) {
  #nav-right {
    display: none; }

  #nav_left {
    display: none; }
    #nav_left li {
      display: block;
      padding: 0.6rem 0 !important; }

  .nav_icon {
    height: 48px !important; }

  nav:hover > #nav_left {
    display: block; }

  .mobile_nav_icon {
    display: block !important;
    float: right;
    height: 26px;
    margin: 20px; }

  .commentbox {
    width: 80% !important; }

  .comment_container {
    width: 80% !important; }

  #form_contact > * {
    width: 90% !important; }

  main {
    margin: 2vh 4vw !important; }
    main#home {
      margin: 0 !important; }

  .project h2 {
    text-align: center !important; }
  .project .project_info {
    padding: 0 20px !important; }

  [class*='col-'] {
    width: 100%; }

  #about section img {
    float: none !important;
    display: block !important;
    margin: 20px auto !important; } }
p {
  font-size: 1rem;
  line-height: 2rem; }

h1 {
  font-weight: 400;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 1.7rem; }

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem; }

a {
  color: #ff17e1;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

main h2 {
  text-align: center; }
main h3 {
  text-align: center; }

.purple {
  color: #ff17e1; }

.center {
  text-align: center; }

.underline {
  border-bottom: 8px solid #ff17e1; }

.serif {
  font-family: 'Lora', serif; }

nav {
  overflow: auto;
  background-color: #4f4f4f;
  position: relative; }
  nav .mobile_nav_icon {
    display: none; }
  nav .nav_icon {
    position: absolute;
    z-index: 2;
    height: 64px;
    bottom: 10px;
    left: 30px; }
  nav ul {
    list-style: none;
    padding: 0; }
    nav ul li {
      display: inline-block; }
  nav #nav_left {
    width: calc(70% - 90px);
    float: left;
    font-size: 1.3rem;
    margin-left: 90px; }
    nav #nav_left li {
      padding: 1.2rem 0;
      margin: 0 1rem; }
    nav #nav_left a {
      color: #ffffff;
      font-variant: small-caps;
      text-decoration: none; }
  nav #nav_right {
    list-style: none;
    float: right;
    width: 30%;
    text-align: right;
    padding: 1.2rem 0; }
    nav #nav_right li {
      display: inline; }
    nav #nav_right img {
      height: 32px;
      padding: 0 20px; }

.flex_container {
  display: flex; }

footer {
  background-color: #282828;
  color: #ffffff;
  text-align: center;
  padding: 5vh; }
  footer img {
    width: 74px;
    padding: 20px;
    height: auto; }
  footer ul {
    list-style: none;
    padding: 0; }
    footer ul li {
      display: inline-block; }
  footer h6 {
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif; }

/* Home */
.home_nav {
  background-color: #ffffff; }

main#home {
  margin: 0;
  background-image: url(../imgs/bg.png);
  background-size: cover;
  height: 75vh;
  color: #fff; }
  main#home .text_overlay {
    padding-top: 30vh;
    padding-left: 10vw;
    margin: 0; }
    main#home .text_overlay h1 {
      margin: 2rem 0;
      padding: 0;
      font-weight: 200;
      font-style: italic; }

nav#nav_bottom {
  list-style: none;
  text-align: center;
  background: none; }
  nav#nav_bottom li {
    display: inline-block;
    border-bottom: 1px solid #ff17e1;
    padding: 20px 0;
    margin: 0 4rem; }
    nav#nav_bottom li a {
      text-decoration: none;
      color: #424242;
      font-size: 1.3rem; }

/* About page */
main {
  margin: 4vh 10vw; }

#about p {
  overflow: auto; }
  #about p img {
    float: left;
    margin: 0 1.4rem; }
#about #skills {
  align-items: baseline;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap; }
  #about #skills .box {
    margin: 0 3rem 3rem 3rem; }
    #about #skills .box img {
      width: 100px;
      height: auto;
      margin: 0 auto 2rem auto;
      display: block; }

.avatar {
  height: 30vh;
  max-height: 250px; }

/* Contact page */
#form_contact > * {
  display: block;
  width: 30%;
  margin: 10px auto; }
#form_contact label {
  font-size: 0.9em;
  font-weight: bold; }
#form_contact input, #form_contact textarea {
  padding: 0.4rem 0.2rem; }
#form_contact textarea {
  height: 300px;
  resize: vertical; }

input[type="submit"] {
  width: 120px !important;
  border: none;
  background-color: #282828;
  color: #ffffff;
  border-radius: none;
  padding: 0.7rem 0;
  cursor: pointer; }
  input[type="submit"]:hover {
    background-color: #424242; }

.socialmedia_links_big ul {
  list-style: none;
  text-align: center;
  padding: 0; }
  .socialmedia_links_big ul li {
    display: inline-block;
    padding: 2rem 2rem; }
    .socialmedia_links_big ul li img {
      height: 40px; }

/* Blog page */
#container_blogpost {
  align-items: baseline;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap; }
  #container_blogpost .card_blogpost {
    width: 300px;
    padding: 0 20px; }
    #container_blogpost .card_blogpost:hover h4 {
      display: none; }
    #container_blogpost .card_blogpost:hover p {
      display: block; }
    #container_blogpost .card_blogpost p {
      display: none;
      font-weight: bold; }
    #container_blogpost .card_blogpost .card_blogpost_top {
      position: relative; }
      #container_blogpost .card_blogpost .card_blogpost_top .card_blogpost_image {
        width: 100%;
        overflow: hidden; }
        #container_blogpost .card_blogpost .card_blogpost_top .card_blogpost_image img {
          opacity: 0.3;
          width: auto;
          height: 300px; }
      #container_blogpost .card_blogpost .card_blogpost_top .card_blogpost_title {
        position: absolute;
        top: 20px;
        margin: 0 20px;
        font-size: 1.3rem; }

/* Blog post */
main.blogpost {
  overflow: auto;
  margin: 0; }
  main.blogpost section {
    padding: 50px 10%;
    float: left;
    width: 70%;
    font-family: 'Lora', serif; }
    main.blogpost section h1, main.blogpost section h2 {
      text-align: center; }
    main.blogpost section h1 {
      font-size: 2.4rem;
      margin-bottom: 0.6rem; }
    main.blogpost section h2 {
      font-weight: 300;
      font-size: 1.4rem;
      margin-top: 0; }
    main.blogpost section p {
      line-height: 1.6rem; }
    main.blogpost section img {
      width: 100%; }
    main.blogpost section .source {
      display: block;
      text-align: center;
      font-style: italic; }
    main.blogpost section .bold {
      font-weight: bold; }
    main.blogpost section .blogpost_info {
      text-align: right;
      font-style: italic;
      font-weight: bold;
      margin-top: 4rem; }
  main.blogpost aside {
    float: right;
    width: 30%;
    background-color: #c1c1c1;
    padding-bottom: 15vh; }
    main.blogpost aside h4 {
      border-left: 8px solid #ff17e1;
      display: block;
      width: 60%;
      margin: 2rem auto; }
    main.blogpost aside .commentbox {
      background-color: #ffffff;
      width: 60%;
      padding: 1rem;
      margin: 0 auto;
      overflow: auto; }
      main.blogpost aside .commentbox h5 {
        margin: 10px 0; }
      main.blogpost aside .commentbox textarea {
        width: 100%;
        height: 100px;
        resize: none;
        border: 1px solid grey; }
      main.blogpost aside .commentbox input[type="text"] {
        float: left;
        width: 100%;
        margin: 10px 0;
        padding: 4px; }
      main.blogpost aside .commentbox input {
        display: block;
        float: right; }
    main.blogpost aside .comments .comment_container {
      margin: 2rem auto;
      width: 60%;
      background-color: #ffffff;
      padding: 1rem; }
      main.blogpost aside .comments .comment_container .comment_top {
        overflow: auto; }
        main.blogpost aside .comments .comment_container .comment_top .comment_top_author {
          float: left;
          text-transform: uppercase;
          font-weight: bold; }
        main.blogpost aside .comments .comment_container .comment_top .comment_top_time {
          float: right;
          font-style: italic; }
    main.blogpost aside .comments .comment_content {
      padding: 0.4rem; }

/* projects page */
.project img {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 2rem 0; }
.project .project_info .project_desc {
  display: none; }
.project h2 {
  text-align: left; }
.project.collapsed {
  background-color: #E1E1E1;
  cursor: pointer; }
  .project.collapsed h2 {
    margin-top: 14%; }
.project.collapsed:nth-child(2n) {
  background-color: #EBEBEB; }
.project.selected img {
  width: 100%; }
.project.selected .project_info {
  padding: 0 50px; }
  .project.selected .project_info .project_desc {
    display: block; }

/*# sourceMappingURL=style.css.map */
